@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import "../variables/variables.scss";


.App {
  height: 100%;
  text-align: center;
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font;


  .timer-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    padding: 4%;
    padding-top: 0;
    background-color: $cardBackgroundColor;
    border-radius: 6px;
    margin: 2%;

    .timer-button {
      @include TimerButtonStyle;
    }

    .break-button {
      @include BreakButtonStyle;
    }
  }

  .inputs-container {
    display: flex;
    flex-direction: row;

    .task-input {
      @include InputStyle;
    }
  }

  .add-task-btn {
    margin: 4%;
    width: auto;
    font-family: $font;
    font-weight: 600;
    font-size: 20px;
    padding: 2%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: $accentColor;
    color: $BtnTextColor;
    border: 0;

    &:hover {
      @include HoverButton;
    }
  }

  .todoList {
    display: flex;
    flex-direction: column;
    justify-self: space-between;

  }

  .task {
    @include TaskCard
  }

}